[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200

[profile.default.fuzz]
runs = 256

[rpc_endpoints]
zilliqa = "https://api.zilliqa.com"
zilliqa_testnet = "https://dev-api.zilliqa.com"
